{% extends "base.html" %}

{% block content %}

<form>
	{% if concepts %}
   		<h2>Stage 4 Notes</h2>
   		<ul>
      		{% for concept in concepts %}
   				<li><b>Topic:</b>  {{concept[0]}}, <br><b>Description:</b>  {{concept[1]}}</li>
			{% endfor %}
   		</ul>
	{% endif %}

	

	<h2>Post your comments</h2>
	<input type="text" name="comments">
	{% if items %}
		{% for item in items %}
			<input type="hidden" name="comments" value="{{item}}">
		{% endfor %}
	{% endif %}		
	<button>Add</button>

	{% if items %}
		<br>
		<br>

		<h2>Posts</h2>
		<ul>
			{% for item in items %}
				<li>{{ item }}</li>
			{% endfor %}
		</ul>
	{% endif %}			

			
</form>

{% endblock %}